* {
  font-family: "Roboto", "sans-serif", "arial";
  width: 100%;
  }

body {
  background-image: icon.png;
  }

h1 a {
  text-decoration: none;
  color: white;
  }

nav {
  text-align: center;
  text-size: 40px;
  }

nav a {
  text-decoration: none;
  color: white;
  }

nav ul {
  list-style-type: none;
  }

header {
  background-color: #2F2F5A;
  color: white;
  padding: 0;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  }