* {
  font-family: "Roboto", "sans-serif", "arial";
  width: 100%;
  }

body {
  background-image: "icon.png";
  }


header {
  background-color: #2F2F5A;
  top: 0px;
  left: 0px;
  right: 0px;
  color: white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: auto;
  float: left;
  position: fixed;
  box-shadow: 0 8px 8px 0px #cccccc;
  }


nav a {
  text-decoration: none;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 21px;
  padding-left: 21px;
  display: inline-block;
  text-align: center;
  }

nav a:hover {
  color: white;
  background-color: #32325D;
  }

nav ul {
  list-style-type: none;
  }
