* {
  font-family: "Roboto", "sans-serif", "arial";
  width: 100%;
  }

body {
  background-image: icon.png;
  }

nav {
  text-align: center;
  text-size: 40px;
  }

nav a {
  text-decoration: none;
  color: white;
  }

nav ul {
  list-style-type: none;
  }

header {
  background-color: #2F2F5A;
  color: white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: 20px;
  float: left;
  }